.bottom-bar {
  margin-top: 50px;
  background-color: $black;
  color: #fff;
}

.bottom-bar__wrapper {
  display: flex;
  justify-content: space-between;
  width: 1460px;
  margin: 0 auto;
  padding: 10px 0;
}

.bottom-bar__nav-list {
  display: flex;

  @include list-reset;
}

.bottom-bar__nav-item {
  margin-right: 25px;
  &:last-child {
    margin-right: 0;
  }
}

.bottom-bar__nav-link {
  font-size: 13px;
  line-height: 1.2;
  color: $white;
  text-decoration: none;
  transition: color .3s;

  &:hover,
  &:focus {
    color: $main-color;
  }
}

.bottom-bar__copyright {
  font-size: 13px;
  line-height: 1.2;
}
