.course {
  margin-top: 70px;
}

.course__wrapper {
  display: flex;
  justify-content: space-between;
  width: 1460px;
  margin: 0 auto;
  padding: 0 20px;
}

.course__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.2;
}

.course__price {
  font-size: 24px;
  line-height: 1.2;
  color: #BAC0C5;

  & span {
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
    color: $black;
  }
}

.course__description {
  font-size: 20px;
  line-height: 1.8;
}

.course__info {
  width: 60%;
}

.course__sidebar {
  width: 30%;
}

.course__programm-title {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}

.course__programm-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include list-reset;

  margin-bottom: 80px;
}

.course__programm__item {
  display: flex;
  justify-content: space-between;
  width: 49%;
  margin-bottom: 15px;
  padding: 12px 30px 12px 15px;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(#000000, 0.1);
}

.course__lesson-title {
  font-size: 10px;
  font-weight: bold;
  line-height: 1.2;
}

.course__lesson-duration {
  font-size: 10px;
  font-weight: bold;
  line-height: 1.2;
  color: $main-color;
}

.course__sidebar-title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}

.course__partner {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(#000000, 0.1);
}

.course__partner-img-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 10px;
  background-color: $bg-light;
}

.course__partner-img {
  width: auto;
  height: 48px;
}

.course__partner-title {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}

.course__partner-link {
  color: $black;
  text-decoration: none;
  transition: color .3s;

  &:hover,
  &:focus {
    color: $main-color;
  }
}

.course__details {
  margin-top: 20px;
}

.course__details-list {
  @include list-reset;
}

.course__details-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 20px 10px 85px;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(#000000, 0.1);

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 64px;
    height: 64px;
    border-radius: 10px;
    background-color: $bg-light;
    background-image: url("../../img/clock-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  &--format::before {
    background-image: url("../../img/play-icon.svg");
  }
}

.course__details-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}
.course__details-info {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.2;
  color: $main-color;
}

.course__certificate {
  margin-top: 25px;
}

.course__certificate__img-link {
  text-decoration: none;
}

.course__certificate-img {
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(#000000, 0.16);
}

.course__payment {
  margin-top: 60px;
}

.course__payment-btn {
  display: block;
  padding: 25px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: $main-color;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(#000000, 0.16);
  transition: background-color .3s, box-shadow .3s;

  &:focus,
  &:hover {
    background-color: darken($main-color, 10);
    box-shadow: none;
  }
}
