
.download {
  margin-top: 40px;
}

.download__title {
  font-size: 15px;
  line-height: 1.2;
}

.download__btn-link {
  text-decoration: none;
}

.download__btn-appstore-img {
  width: auto;
  height: 40px;
}

.download__btn-gplay-img {
  margin-left: 20px;
  width: auto;
  height: 40px;
}
