.footer {
  margin-top: 150px;
  padding: 90px 0 0;
  background-color: $bg-light;

  @media (max-width: $mobile) {
    margin-top: 53px;
    padding-top: 0;
    min-height: 478px;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: $mobile) {
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
  }
}

.footer__col-wrapper {
  display: flex;
  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.footer__left-col {

  @media (max-width: $mobile) {
    position: relative;
  }
}

.footer__right-col {
  margin-right: 150px;

  @media (max-width: $mobile) {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
}

.footer__nav-wrapper {
  margin-right: 90px;
}

.footer__nav-title {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
}

.footer__nav-list {
  @include list-reset;
}

.footer__nav-item {
  margin-bottom: 2px;
}

.footer__nav-link {
  color: $black;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $main-color;
    text-decoration: underline;
  }
}
