.logo__img {
  width: 157px;
  height: 36px;

  @media (max-width: $mobile) {
    width: 134px;
    height: 30px;
  }
}

.logo__img--footer {
  width: 223px;
  height: 51px;
}

.logo__text {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
}

.logo--closed .logo__link--header {

  @media (max-width: $mobile) {
    display: none;
  }
}

.logo--footer {
  @media (max-width: $mobile) {
    margin-bottom: 41px;
  }
}
