.page-header {
  padding-top: 90px;
  background-color: $bg-light;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
}

.page-header__logo {
  width: auto;
  height: 115px;
}


.page-header__course-img {
  margin-top: 40px;
  width: auto;
  height: 390px;
}
