.socials {
  margin-top: 30px;
}

.socials__title {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
}

.socials__list {
  display: flex;

  @include list-reset;
}

.socials__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon {
  width: 31px;
  height: 31px;
  fill: #24272d;
  transition: fill .3s;

  &:hover,
  &:focus {
    fill: $main-color;
  }
}
