@import "variables.scss";
@import "mixins.scss";
@import "normalize.scss";
@import "visually-hidden.scss";
@import "fonts.scss";
@import "scaffolding.scss";
@import "blocks/top-bar.scss";
@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/search.scss";
@import "blocks/user.scss";
@import "blocks/main-nav.scss";
@import "blocks/main-slider.scss";
@import "blocks/carousel.scss";
@import "blocks/category.scss";
@import "blocks/cta.scss";
@import "blocks/partners.scss";
@import "blocks/modals.scss";
@import "blocks/socials.scss";
@import "blocks/download.scss";
@import "blocks/footer.scss";
@import "blocks/bottom-bar.scss";
@import "blocks/btn.scss";
@import "blocks/container.scss";
@import "blocks/page-header.scss";
@import "blocks/course.scss";
@import "blocks/teacher.scss";
